{% extends 'base.html' %}


{% block content %}
<main>
    <div>
        <h1>Expense Category List View</h1>
        <table>
            <th>Name</th>
            <th>Number of receipts</th>
            {% for item in category_list %}
            <tr>
                <td> {{ item.name }}</td>
                <td> {{ item.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>



{% endblock content %}
