{% extends 'base.html' %}


{% block content %}
<main>
    <div>
        <h1>Bank Accounts</h1>
        <table>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
            {% for item in account_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</main>

{% endblock content %}
