{% extends 'base.html' %}


{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
        {% for item in receipt_list.all %}
        <tr>
            <td> {{ item.vendor }}</td>
            <td> {{ item.total }}</td>
            <td> {{ item.tax }}</td>
            <td> {{ item.date|date:"m/d/y" }}</td>
            <td> {{ item.category }}</td>
            <td> {{ item.account }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
